.contac-image{
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../public/contact-us-4193523.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-text{
  font-size: 6rem;
  font-family: "Lora", serif;
  color:#261346 ;
  font-style: italic;
  
  /* background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
  background-image: linear-gradient(45deg,gold , #000000ff,#000000ff ); */
}

.contactsection_wraper {
  display: flex;
   gap: 5rem; 
  background: transparent;

  justify-content: center;
  position: relative;
 
   overflow-x: visible; 
 

  
}
.map{
padding: 0%;
  position: relative;
  background-color: var(--abg);
  
}
.contactsection_wraper::after {
  content: '';
  width: 2px;
  height: 50%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: blanchedalmond;
  background-color: white;
}


.con_right  {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  /* padding-left: 3rem;  */
}
.con_left {
  width: 100%;
  max-width: 500px;
  align-items: center;
    padding: 2.5%;  
   
  
}
.contact{
  
background-color: var(--abg);
}

.contactcontainer {
  display: flex;
  flex-direction: column;
     padding: 50px 0;
      /* max-width: 1200px; */
      width: 100%;
      background-color: var(--abg);
     

}
.contactcontainer h1{
  font-size: 40px;
  font-weight: 400;

  color: var(--primaryColor);
  display : flex;
  justify-content: center;
   
}
.c-head{
padding-top: 20px;
padding-bottom: 30px;

background: transparent;
margin-top: 40px;

}



@media only screen and (max-width: 768px) {
  .contactsection_wraper {
    flex-direction: column;
  }
  .contactsection_wraper::after {
    display: none; 
  }
  .map{
    
  }
  .con_left,
  .con_right {
    position:relative;
    max-width: 100%;
  }
  .con_right {
      padding: 5%; 
  }
  
  .con_left{
    padding: 7%;
  }
  

  }
 
  ContactInfoItem:hover{
    box-shadow:inset 0 0   2px 2px rgba(255, 255, 255, 0.31); 
    transform: scale(1.1);
  }